{% load static %}
<div class="mt-3" style="background-color:black;width:100%;height:350px">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-2">
                <h3 class="text-white">Contact Information</h3>
                <p style="color:yellow; font-size:18px"><i class="fa fa-map-marker text-danger"></i> Ganpat University ,Kherva</p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-envelope text-danger"></i> ajaypari20@gnu.ac.in</p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-mobile text-danger"></i> +91 9676820660</p>
                <p style="color:yellow; font-size:18px"><i class="fa fa-globe text-danger"></i> www.onlinejobportal.com</p>
            </div>
            <div class="col-md-4 mt-2">
                <h3 class="text-white">Online Placement</h3>
                <p style="color:yellow; font-size:18px">Exciting internship opportunity with a dynamic tech company. Gain hands-on experience, work on innovative projects, and collaborate with a talented team. Develop essential skills and make a meaningful impact on real-world projects.</p>
            </div>
            <div class="col-md-4 mt-2">
                <h3 class="text-white">Newsletter</h3>
                <p style="color:yellow; font-size:18px">If you want any extra information then email to us.</p>
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="email" name="emailid" placeholder="Email ID" required class="form-control mr-2">
                    <input type="submit" value="Send" class="btn btn-primary">

                </form>

            </div>

        </div>

    </div>
</div>